header,
footer,
nav,
body {
    color: black;
    background-color: aqua;
    background-position: center;
    font-family: Georgia, times, serif;
    line-height: 1.4em;
    margin: 0px;
}

header {
    height: 60px;
    text-decoration-color: black;
}

h1 {
    text-indent: 10px;
    width: 940px;
    height: 130px;
    margin: 0px;
    color: black;
}

p {
    color: black;
    grid-auto-flow: column;
}

nav,
footer {
    clear: both;
    color: #ffffff;
    background-color: orange;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover,
nav li a.current {
    color: lightgreen;
}

section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    float: right;
    font-weight: normal;
}

footer {
    font-size: 100%;
    padding: 7px 0px 0px 20px;
}